body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cabecalho{
    background-color: rgb(148, 9, 9);
    text-align: center;
    padding: 30px;
    color: rgb(236, 169, 122);
}
.cabecalho img{
    width: 60px;
    height: auto;
    border-radius: 80%;
}
.cabecalho h1{
    margin: 20px 0 15px 0;

}
.cabecalho p{
    font-size: 20px;
    color: rgb(255, 171, 141);
    margin: 0;

}
nav{
    background-color: aliceblue;
    text-align: center;
    padding: 10px;
}
nav a {
    color: rgb(255, 190, 190);
    text-decoration: none;
}